
.about {
    background-color: hsl(256, 12%, 41%);
    padding: 16rem 1rem 16rem 1rem;
    width: 100%;
    margin-top: -15%;
}

.info {
    display: block;
    width: 40%;
    height: 3%;
    margin: 5% auto;
}

.about .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.about .container img {
    height: 20rem;
    border: double 1px hsl(160, 100%, 50%);
    border-radius: 10%;
    margin-right: 8%;
}

.about .container .column h2 {
    color: hsl(160, 100%, 50%);
    text-align: center;
}

.about .container .column p {
    color: hsl(257, 24%, 15%);
}


@media screen and (max-width: 800px) {
    .about {
        padding: 22rem 1rem 22rem 1rem;
        width: 100%;
    }
    .about .container {
        display: flex;
        justify-content: center;
        margin-left: 0%;
    }
    .about .container img {
        position: absolute;
        top: 120%;
        height: 14rem;
        border: double 1px hsl(160, 100%, 50%);
        border-radius: 10%;
    }
    .about .column {
        text-align: center;
    }
    .about .container .column h2 {
        color: hsl(160, 100%, 50%);
        border-bottom: solid 1px hsl(160, 100%, 50%);
        padding-bottom: 5%;
    }
}